
*{
   font-family: 'Poppins', sans-serif;
   overflow-x: 0;
}
.color-b{
   color: #3D9AD9;
}

.color-text-light{
   color: #757677;
}

.color-text-dark{
   color: #272727;
}

.color-text-light-2{
   color: #6A6A6A;
}

/* h1{
   font-size: 3rem;
}
h2{
   font-size: 3rem;
}

p{
   font-size: 1rem;
}

h6 li{
   font-size: 2rem;
}

h4{
   font-size: 2.25rem;
} */
/* Style for Navigation */
.navbar-nav>a{
   font-size: 1rem;
    color: #272727;
}

.navbar-nav>a.btn{
   font-size: 1rem;
    color: #25A5fB;
    border: 1px solid #25A5fB ;
}


.navbar-nav>a:hover{
   font-size: 1rem;
    color: #25A5fB;
}

.download-app-btn-2{
    background-color:#25A5fB ;
    color: white;
}
.download-app-btn-2:hover{
    background-color:#25A5fB ;
    color: white;
}

.section1-container{
   position: relative;
   height: 720px;
   
}

.section1-content{
    position: absolute;
    left: 10%;
    top:10%;
}

.section1-mb-container{
   position: relative;
   height:100vh
}


.section1-mb-content{
   position: absolute;
   top:0%;
   left: 0%;
   width: 100%;
}


.section2-container{
    position: relative;
 }
 
 .section2-content{
     position: absolute;
     left: 38%;
     top:10%;
 }

 .section2-content-div1{
    position: absolute;
    left: 22%;
    top:60%;
 }



 .section2-content-div2{
    position: absolute;
    left: 44%;
    top:60%;
 }

 .section2-content-div2>p{
    font-size: 14px;
 }

 .section2-content-div3{
    position: absolute;
    left: 66%;
    top:60%;
 }

 .section2-content-div3>p{
    font-size: 14px;
 }

 


 .section3-container{
  
    position: relative;
 }
 .section3-content{
    position: absolute;
    left: 63.5%;
    top: 15%;

 }

 .section3-icon{
    background-image: url('/image/section3-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 49px;
    width: 49px;
 }


.section-4{
   background: linear-gradient(17.58deg, rgba(61, 154, 217, 0.23) -7.37%, rgba(228, 33, 40, 0.01) 67.95%);
}
 .section4-container{
   

    position: relative;
 }

 .section4-content{
    position: absolute;
    left: 18%;
    top: 15%;

 }

 .section4-content>ul{
    list-style: none;
 }

 .section4-mb{
   background: linear-gradient(17.58deg, rgba(61, 154, 217, 0.23) -7.37%, rgba(228, 33, 40, 0.01) 67.95%);
 }

 .section5-container{
    position: relative;
 }

 .section5-content{
    position: absolute;
    left: 18%;
    top: 50%;
 }

 .section5-container-mb{
   position: relative;
 }

 .section5-content-mb{
   position: absolute;
   left:0%;
   top:70%;
   width: 100%;

 }
 



 .btn-xl {
   background-color: #3D9AD9 ;
   padding: 10px 20px;
   font-size: 20px;
   border-radius: 10px;
   width:330px;   
   height: 56px;
   color: white;
}

.btn-xl:hover {
   background-color: #3D9AD9 ;
   padding: 10px 20px;
   font-size: 20px;
   border-radius: 10px;
   width:330px;   
   height: 56px;
   color: white;
}

